node_modules/
dist/
.env
*.local
.idea/
target/
*.iml
.DS_Store


articles
bestellungsservice
frontend
keycloak
landing
processengine
.dockerignore
docker-compose.yml
package-lock.json
.github/workflows/articles.yml
.github/workflows/cibseven-processengine.yml
.github/workflows/frontend-docker.yml
.github/workflows/landing-docker.yml

