@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,400&display=swap');

:root {
  /* Primary */
  --color-primary: #3b6b61;
  --color-secondary: #264037;
  --color-tertiary: #66bda4;

  /* Greys */
  --color-grey-100: #f4f7f2;
  --color-grey-200: #e6e6e6;
  --color-grey-300: #999999;

  /* Base */
  --color-background: #f8f7f3;
  --color-text: #1f2a2e;

  /* Font */
  --font-family-base: 'IBM Plex Sans Condensed', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-family-base);
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}
